body{
    background-color:  #A68979    ;
}

table td,th{
    border: 2px solid #b60092;
    border-style: double;

}



th{
    background-color: orange;
}

td{
    background-color:#FFF8B4;
    padding: 5px;
}

table{
    width: 25%;
    margin: 0 auto;
    font-size: 20px;
    border-style: inset;
    border-width: 5px;
    text-align: center;
}

img{

    height:150px ;
}

h2{
    text-align: center;
}
